 * { margin: 0; padding: 0; }  
html, body { height: 100%; width: 100%; }  
canvas { display: block; }  
#canvas {
   left: 50%;	
	background:  #000000;
	margin-left: -200px;
   position: relative;	
	}
p{color: red;}